<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    include _share/stylesheets.pug
    title chat-storm
  body
    div
      include _share/navbar.pug

    main(role="main" class="container")
      h4.mt-5 入室に成功しました。
      table.my-3.table.table-bordered(class="confirm-table")
        tr
          td 部屋名
          td #{roomName}
        tr
          td ルームID
          td #{roomId}
        tr
          td ルームパスワード
          td #{roomPassword}
      form
        input(type="hidden" name="roomName" value=roomName )
        input(type="hidden" name="roomId" value=roomId )
        input(type="hidden" name="roomPassword" value=roomPassword )
        input.btn.btn-danger.mr-3(type="submit" value="戻る" data-method="post" data-action="/" )
        input.btn.btn-success.ml-3(type="submit" value="入室する" data-method="get" data-action="/room" )
      include _share/javascripts.pug
      script(src="/public/javascripts/confirm.js")