<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    include _share/stylesheets.pug
    title chat-storm
  body
    div
      include _share/navbar.pug

    div
      p ログインに成功しました
      div
        p 部屋名
        p #{roomName}
      div
        p ルームID
        p #{roomId}
      div
        p パスワード
        p #{roomPassword}
      form(action=`/room/${roomId}&${roomPassword}`, method="post")
        input(type="hidden" name="roomName" value=roomName )
        input(type="hidden" name="roomId" value=roomId )
        input(type="hidden" name="roomPassword" value=roomPassword )
        input(type="submit" value="入室する" )
      include _share/javascripts.pug