<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    include _share/stylesheets.pug
    title chat-storm
  body
    div
      include _share/navbar.pug

    div
      p 部屋を新規作成しました。
      div
        p 部屋名
        p #{doc.roomName}
      div
        p ルームID
        p #{doc.roomId}
      div
        p パスワード
        p #{doc.roomPassword}
      form(action=`/room`, method="get")
        input(type="hidden" name="roomName" value=doc.roomName )
        input(type="hidden" name="roomId" value=doc.roomId )
        input(type="hidden" name="roomPassword" value=doc.roomPassword )
        input(type="submit" value="入室する" )
      include _share/javascripts.pug
      