<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    include _share/stylesheets.pug
    title chat-storm
  body
    div
      include _share/navbar.pug

    main(class="container")
      a.btn.btn-success.my-4(data-toggle="collapse" href="#collapse" role="button" aria-expanded="false" aria-controls="collapse" id="room-info" ) 部屋情報
      div.collapse.show#collapse
        table.my-3.table.table-bordered(class="confirm-table")
          tr
            td 部屋名
            td.td-value.td-room-name #{room.roomName}
          tr
            td ルームID
            td.td-value #{room.roomId}
          tr
            td ルームパスワード
            td.td-value #{room.roomPassword}

    div(id="messages" class="items")
      if messages
        each message in messages
          div(class="item" align="center" data=`${message.messageId}` )
            div.item-message
              p.item-message-value #{message.message}
            div.mb-2.message-data
              span.mr-3.item-createdBy #{message.createdBy}
              span.mr-3.item-createdDate #{message.createdDate}
              - var isMessageCreatedUser = user ? (user.username === message.createdBy) : (guestUser === message.createdBy) 

    div(class="container")
      form(id="message-form").message-form-wrapper
        input.mr-2(type="text" name="message" id="message" class="message-input" )
        button(
          type="submit"
          data-room-id=room.roomId
          data-username=user ? user.username : guestUser
        )#message-send-button.btn.btn-primary 送信
        
  script(src="/socket.io/socket.io.js")
  include _share/javascripts.pug