<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    include _share/stylesheets.pug
    title chat-storm
  body
    div
      include _share/navbar.pug

    div(class="container")
      a.btn.btn-success.my-4(data-toggle="collapse" href="#collapse" role="button" aria-expanded="false" aria-controls="collapse" id="room-info" ) 部屋情報
      div.collapse.show#collapse
        table.my-3.table.table-bordered(class="confirm-table")
          tr
            td 部屋名
            td #{room.roomName}
          tr
            td ルームID
            td #{room.roomId}
          tr
            td ルームパスワード
            td #{room.roomPassword}

    
    div(id="messages" class="items" )
      if messages
        each message in messages
          div(class="item")
            p(class="message") #{message.message}
            p #{message.createdDate}
    
    form(id="messageform" )
      textarea(name="message" id="message" cols="40" rows="4")
      button(
        type="submit"
        data-room-id=room.roomId
      )#message-send-button.btn.btn-primary 送信
      
  script(src="/socket.io/socket.io.js")
  include _share/javascripts.pug