<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    include _share/stylesheets.pug
    title chat-storm
  body
    div
      include _share/navbar.pug

    div
      b 部屋名 #{roomName} 
      br
      b ルームID #{roomId}
      br
      b パスワード #{roomPassword}
      br

    
    div(id="messages" data-js-selector="messages" class="container" )
      if messages
        each message in messages
          div(class="item")
            p #{message.message}
            p #{message.createdDate}

    //- div
    //-   form(action=`/room?roomName=${roomName}&roomId=${roomId}&roomPassword=${roomPassword}`, method="post")
    //-     input(type="hidden" name="roomId" value=`${roomId}` )
    //-     input(type="hidden" name="roomPassword" value=`${roomPassword}` )
    //-     input(type="hidden" name="roomName" value=`${roomName}` )
    //-     textarea(name="message", cols="30", rows="10")
    //-     input(type="submit", value="書き込み") 
    
    form(id="messageform" data-js-selector="messageform" )
      textarea(name="message", id="message" ,data-js-selector="message" , cols="40", rows="4")
      button(
        type="submit"
        data-room-name=roomName
        data-room-id=roomId
        data-room-password=roomPassword
      ).message-send-button 送信
      
    include _share/javascripts.pug
  script(src="/socket.io/socket.io.js")
  script(src="https://code.jquery.com/jquery-3.4.1.min.js" ) 
  script(src="/public/javascripts/client.js" type="module" )