<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    include _share/stylesheets.pug
    title chat-storm
  body
    div
      include _share/navbar.pug

    div 
      b 部屋名 #{roomName} 
      br
      b ルームID #{roomId}
      br
      b パスワード #{roomPassword}
      br

    div
      each message in messages
        div
          p #{message.message}
          p #{message.createdDay}
      
      include _share/javascripts.pug