<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    include _share/stylesheets.pug
    title chat-storm
  body
    div
      include _share/navbar.pug

    div(class="container")
      a.btn.btn-success.my-4(data-toggle="collapse" href="#collapse" role="button" aria-expanded="false" aria-controls="collapse" id="room-info" ) 部屋情報
      div.collapse.show#collapse
        table.my-3.table.table-bordered(class="confirm-table")
          tr
            td 部屋名
            td #{roomName}
          tr
            td ルームID
            td #{roomId}
          tr
            td ルームパスワード
            td #{roomPassword}

    
    div(id="messages" data-js-selector="messages" class="items" )
      if messages
        each message in messages
          div(class="item")
            p(class="message") #{message.message}
            p #{message.createdDate}
    
    form(id="messageform" data-js-selector="messageform" )
      textarea(name="message", id="message" ,data-js-selector="message" , cols="40", rows="4")
      button(
        type="submit"
        class="message-send-button"
        data-room-name=roomName
        data-room-id=roomId
        data-room-password=roomPassword
      ).btn.btn-primary 送信
      
    include _share/javascripts.pug
  script(src="/socket.io/socket.io.js")
  script(src="https://code.jquery.com/jquery-3.4.1.min.js" )
  script(src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js")
  script(src="/public/javascripts/room.js" type="module" )
  script(src="/public/javascripts/sort.js" type="module" )